/* —————————————————————————————————————————————— */
/* Make the page fill the viewport and enable flex layout */
/* —————————————————————————————————————————————— */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;  /* this pushes the footer to the bottom */
}
/* —————————————————————————————————————————————— */
